.DS_Store
1. Bash Overview/systemreport_solution.sh
4. System Administration/backup.sh
4. System Administration/demo.tgz
5. Shell Games/aceydeucy.sh
5. Shell Games/rolldice.sh
Labs/CSI3680_Lab1_Solutions.ipynb
Labs/CSI3680-Lab2-Solutions.ipynb

